[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
# necessary to work with flake8 6.0.0
pycodestyle = "<2.11"
pytest = "*"
exceptiongroup = {markers="python_version < '3.11.0'"}
mypy = "*"
sphinx = "<7.2"
twine = "*"
tomli = "*"
tox = "*"
setuptools_rust = "*"
libcst = "*"
importlib_metadata = "*"
