[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "24.1.1"
isort = "5.13.2"
flake8 = "6.0.0"
# necessary to work with flake8 6.0.0
pycodestyle = "2.10.0"
pytest = "8.0.0"
exceptiongroup = {markers="python_version < '3.11.0'"}
mypy = "1.8.0"
sphinx = "7.1.2"
twine = "4.0.2"
tomli = "2.0.1"
tox = "4.12.1"
setuptools_rust = "1.8.1"
libcst = "1.1.0"
importlib_metadata = "7.0.1"
